@media only screen and (max-width: 600px) {
 
  .slider{
    .slider-item{
      padding: 0 0%;
      overflow-y: scroll;
      img{
        width: 100%;
        height: auto;
        max-height: 90vh;
        margin-top: 7.5vh;
        object-fit: contain;
        transition: all 0.4s ease;
      }
      .flex-wrapper{
        flex-direction: column;
        height: fit-content;
        padding: 0;
        // align-items: start;
        bottom: 0;
        // position: relative;
        .info-left{
          width: 100%;
          p{
            margin-bottom: 0px;
          }
        }
        .info-right{
          width: 100%;
        }
      }
    }
  }
  .slick-next{
    right: 0px;
    top: 75vh;
    // bottom: 0;
    width: 40px;
    height: 40px;
  }
  .slick-prev{
    top: 75vh;
    // bottom: 0;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  .Collapsible{
    .Collapsible__contentOuter{
      max-height: 80vh;
      overflow-y: scroll!important;
      div{
        p{
          font-size: 20px;
        }
      }
    }
  }
}